body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 18px;
    line-height: 27px;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-weight: 400;
    color: #f7f4f1;
    font-style: normal;

    background-color: @bg-darkgrey;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p,
h1,
h2,
h3,
ul,
ol,
td,
tr {
    padding: 0;
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}
