.page-header {
    display: flex;
    flex-direction: column;
}

.page-header__logo {
    height: 85px;
}

.page-header__logo-image {
    display: block;
    width: 226px;

    margin: 0 auto;
    margin-top: 29px;
}

@media (min-width: @tablet-width) {
    .page-header__logo {
        order: 2;
        height: 400px;

        background-color: #826550;
    }

    .page-header__logo-image {
        width: 370px;
    }
}

@media (min-width: @desktop-width) {
    .page-header__logo {
        height: 648px;
    }
}